[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = abyrne956
	email = 62815438+abyrne956@users.noreply.github.com
